body {
    font-family: Arial;
    padding: 20px;
    max-width: 600px;
    margin: auto;
}

input,
button {
    padding: 8px;
    font-size: 16px;
    margin: 5px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th,
td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}