* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Tilt Warp", cursive;
}

html {
  font-size: 62.5%;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: #0f1a62;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing {
  width: 95%;
  height: 90%;
  background: linear-gradient(to right bottom, #ad0240, #2d4899 70%);
  box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
}

.layer-1 {
  width: 70%;
  height: 120%;
  position: absolute;
  top: -10%;
  left: -5%;
  background: linear-gradient(#c50a58, #4a53a8);
  border-radius: 0 50% 50% 0;
  opacity: 0.5;
  box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.5);
}

.layer-2 {
  width: 70%;
  height: 140%;
  position: absolute;
  top: -10%;
  left: -15%;
  background: linear-gradient(#f33f8a, #4f5cc2 40%);
  border-radius: 0 50% 50% 0;
  opacity: 0.5;
  box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.5);
}

.layer-3 {
  width: 70%;
  height: 130%;
  position: absolute;
  top: -10%;
  left: -25%;
  background: linear-gradient(to right, #e9af5a, #eb5584);
  border-radius: 0 50% 50% 0;
  box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.inner-layer {
  width: 100%;
  height: 100%;
  background: linear-gradient(to top right, #eec245, #eb1666);
  transform: translate(30rem, 15rem);
  border-radius: 50%;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 10rem;
}

.nav-items a {
  font-size: 1.4rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0 2rem;
  letter-spacing: 0.1rem;
  text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.banner {
  position: absolute;
  top: 35%;
  left: 10%;
}

.banner h1 {
  font-family: "Tilt Warp", cursive;
  font-size: 10rem;
  color: #fff;
  letter-spacing: 0.3rem;
  margin-bottom: 5rem;
  text-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
}

.banner button {
  width: 20rem;
  height: 5rem;
  background-color: #fff;
  border: 0.2rem solid #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1rem;
  border-radius: 0.7rem;
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: #e9af5a;
  text-shadow: 0 0.5rem 0.5rem rgba(233, 175, 90, 0.3);
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.banner button i {
  width: 30%;
  height: 100%;
  background-color: #eec245;
  border-radius: 0 0.7rem 0.7rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.8rem;
}

.header h1 {
  position: absolute;
  top: 30%;
  right: 10rem;
  font-size: 5rem;
  width: 43rem;
  text-align: right;
  color: #fff;
  text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.header h1 span {
  display: block;
  font-size: 6rem;
  text-transform: uppercase;
  background: linear-gradient(#ff815b, #f44d7c 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.social-media {
  position: absolute;
  bottom: 5rem;
  right: 10rem;
  display: flex;
  z-index: 100;
}

.social-media i {
  font-size: 2rem;
  color: #fff;
  margin: 0 1.5rem;
  text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
